* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: #000000;
}
body h1,
h2,
p {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
header h1 {
  font-weight: 500;
  line-height: 0;
  font-size: 50px;
  text-align: center;
  background-color: #000000;
}

header img {
  width: 100%;
}

.centrado {
  padding: 2.813em 9.375em 4.125em 9.375em ;
}

.desc-section_img {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.desc-section_img img {
  width: 100%;
  margin-left: 5em;


}
.desc-section_texto {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  font-weight:300;
  font-size: 16px;
  text-align: left;
  white-space: pre-line;
}
.desc-section_texto p {
  padding: 1em;
  margin-right: 5em;
}

.icons-section {
  display: block;
  background-color: #1e1a13;
  opacity: 98%;
  padding: 4.688em 0 4.688em 0;
  text-align: center;
 
}

.icons-section h2 {
  font-size: 40px;
  font-weight:500;

  text-align: center;
}
.icons-section p{
  
  font-size: 25px;
  font-weight: 300;

}

.icons-section div {
  display: inline-block;
  /*margin: right 50px;*/
  
  text-align: center;
  padding: 0 4em 0 4em;
}

.icons-section i {
  font-size: 4em;
  padding: 0.5em;
  color: #ffffff;
  
}
.galeria {
  display: flow-root;

  padding: 2em 4em 2em 4em;
}

.galeria .photo {
  float: left;
  width: 31%;
  text-align: center;
  margin: 1%;
}
.photo img {
  object-fit: cover;
  width: 100%;
  height: 10em;
  margin: auto;
}

footer {
  padding: 2em;
  background-color: #1e1a13;
  opacity: 98%;

  text-align: center;
}
footer p{
  font-size: 20px;
  font-weight: 300;
}
footer a{
color: #ffffff;
}
footer a:hover{ 
  color: darkgoldenrod;
}